@model LoginVm

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<h2>Login a account.</h2>
			<hr />

			<div class="form-floating mb-3">
				<input asp-for="EmailOrUserName" class="form-control" aria-required="true" placeholder="name" />
				<label asp-for="EmailOrUserName">Email Or UserName</label>
				<span asp-validation-for="EmailOrUserName" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="username" />
				<label asp-for="Password">Password</label>
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<button  type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
		</form>
	</div>

</div>
